# Docker
.env

# Java
*.class

# Maven
target/
pom.xml.versionsBackup
.mvn/repository/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/
!**/src/main/**
!**/src/test/**

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# macOS
.DS_Store

#
# WBH Bookworm
#

dependency-reduced-pom.xml
var/
/hoerbuchkatalog/assembly/src/main/resources/application-secrets.yml
/hoerbuchkatalog/ui/src/main/resources/META-INF/resources/app/
/hoerbuchkatalog/ui/src/main/resources/META-INF/resources/css/
/hoerbuchkatalog/ui/src/main/resources/META-INF/resources/fonts/
/hoerbuchkatalog/ui/src/main/resources/META-INF/resources/images/
/hoerbuchkatalog/ui/src/main/resources/META-INF/resources/img/
/hoerbuchkatalog/ui/src/main/resources/META-INF/resources/js/bootstrap*.js
/hoerbuchkatalog/ui/src/main/resources/META-INF/resources/js/jquery*.js
/hoerbuchkatalog/ui/src/main/resources/META-INF/resources/templates/
/cms/approxy/composer.phar
/cms/approxy/src/main/php/approxy/composer.lock
/cms/approxy/src/main/php/approxy/vendor/
