#
# WBH Bookworm
#

backup/
var/

#
# Hoerbuchkatalog
#

hoerbuchkatalog/assembly/src/main/resources/conf/secrets.json

approxy/composer.phar
approxy/src/main/php/approxy/composer.lock
approxy/src/main/php/approxy/vendor/

# static resources
hoerbuchkatalog/ui/src/main/resources/META-INF/resources/app/
hoerbuchkatalog/ui/src/main/resources/META-INF/resources/css/
hoerbuchkatalog/ui/src/main/resources/META-INF/resources/fonts/
hoerbuchkatalog/ui/src/main/resources/META-INF/resources/images/
hoerbuchkatalog/ui/src/main/resources/META-INF/resources/img/
hoerbuchkatalog/ui/src/main/resources/META-INF/resources/js/bootstrap*.js
hoerbuchkatalog/ui/src/main/resources/META-INF/resources/js/jquery*.js
hoerbuchkatalog/ui/src/main/resources/META-INF/resources/templates/

# Compiler
*.class
out/

# Maven
.mvn/repository/
target/
pom.xml.versionsBackup
maven.log

# IntelliJ
*.iml
.idea/

# Docker
.env
