
New


/* ------------------------------------------------------------------------- */
/* CATALOG TEMPLATES CSS--------------------------------------------------- */
/* ------------------------------------------------------------------------- */


form {
    color: #000;
    /* font-size: 20px; */
    margin: 0px;
    padding-bottom: 0px; } 

.search_basket {
    border: 1px solid #cecece !important;
    margin-bottom: 30px;
    padding-bottom: 0px; }

.basket-count { 
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px; 
    padding: 4px 10px 4px 10px;
    text-align:right; }

.nav-link-resultlist { 
    display:block;
    /* background: #cecece; */
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px; 
    padding: 5px 20px;}

.newsearch_basket { 
    background: #771a04;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px; 
    padding: 5px 20px;}
.newsearch_basket a { color: #fff; }

.line15.resulttext {
    color: #000;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 20px; 
    border: 1px solid #cecece !important;} 




.catalogtitle { 
    background: #efdeea;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px; 
    padding: 5px 20px;}


/* Tabellenformate -------------------------------------------------------------- */

.result-table th,
.basket-table th,
.table-striped th { 
    background: #efdeea;
    font-weight:400 !important;
    font-size:18px;
    padding: 5px 20px; }

.result-table tr,
.basket-table tr,
.table-striped tr { 
    font-weight:400;
    font-size:18px;
    padding: 10px 20px; 
    border: 1px solid #cecece !important;}




.result-table tr:hover,
.basket-table tr:hover,
.table-striped tr:hover  {
    background: rgba(143, 155, 177, 0.2) none repeat scroll 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    transition: all 0.8s ease-in-out 0s; }    

.result-table tr.result-row1 td, 
.result-table tr.result-row2 td,
.basket-table tr.basket-row1 td,
.basket-table tr.basket-row2 td  { padding: 10px 20px;}

.result-column5 { width:230px; }
.basket-column4 { width:230px; }

.result-table input { padding: 5px 10px; color: #000;}



.clr {clear:both;}

/* ButtonBasket Order */
.basket-order-link.post,
/* Button meine Downloads herunterladen */
.table-striped .bereitstellung .link a { 
    display:block;
    background: #771a04;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px; 
    padding: 4px 10px 4px 10px; }

.basket-order-link.download,
.basket-order-link.wishlist { 
    background: #771a04;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 23px; 
    padding: 4px 5px 4px 5px; }


.basket-order-link.download { 
    float:left;
    width:56%;
    margin-bottom: 10px;}

.itemtobasket { margin: 20px 0 0 0; height: 50px;}
.itemtobasket .basket-order-link.post { float:left; width: 45%; text-align: center;}
.itemtobasket .basket-order-link.download { float:right; width: 45%;}

.nextdetail { background: #efdeea; font-size: 18px; font-weight: 400 !important;
    padding: 5px 20px; height: 40px; }
.nextdetail a:first-child { padding-right:30%; }
.nextdetail a:last-child { padding-left:30%; }


.basket-order-link.wishlist { 
    float:right;
    width:40%;}

.basket-order-link.list.wishlist { 
    background: #cecece;
    color: #000;}

.basket-remove-link { 
    display:block;
    background: #cecece;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px; 
    padding: 4px 10px 4px 10px; }

.basket-remove-link.clr { 
    margin-top: 10px; }



.basket-column5 { width:230px; }
.basket-column5 a { 
    display:block;
    background: #771a04;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px; 
    padding: 4px 10px 4px 10px; }

a:hover.basket-order-link { color:#efdeea ;}
a.basket-remove-link { color:#000;}
a:hover.basket-remove-link { color:#771a04 ;}

.basket-order-link:first-child,
.basket-remove-link:first-child { margin-bottom:10px;}

.basket-member { border: 1px solid #cecece !important;}
.basket-member .basket-order-column1 input,
.basket-member .basket-order-column2 input,
.basket-member .basket-order-column1 textarea,
.basket-member .basket-order-column2 textarea { margin: 10px 0;}

.basket-member label { width: 90%; }
.basket-member input.basketsubmit { display:block; background: #771a04; border:0;
    color: #fff; font-size: 16px; font-weight: 400; line-height: 23px;  padding: 4px 10px; }

tr.basket-order-row1,
tr.basket-order-row2 { padding: 0;}
td.basket-order-column1,
td.basket-order-column2 {padding: 0 20px;}



/* header basket */
.download-header,
.post-header { 
    font-weight:400;
    margin-bottom:30px;
    border: 1px solid #cecece !important;}

.download-header h3,
.post-header h3 { background: #cecece; padding: 5px 20px; margin:0; }

.download-header form,
.post-header form { padding: 0px 20px; }

.download-success { margin-bottom: 20px; }
.download-success h3 { background:#771a04; color: #fff; padding: 5px 20px; margin:0; }
.download-success .baskettext,
.DownloadWarenkorb .baskettext { padding: 5px 20px; margin:0; }


.multisearch { border: 1px solid #cecece; padding-bottom: 20px; position: relative;}
.multisearch > div { margin-bottom: 0px; padding-top: 20px; padding-left:20px; }

label, input { display: inline-block; }
label { width: 25%; }
.searchrow label { width: 14%; font-size: 18px;}
.searchrow br { margin-bottom: 10px;}

input.input_stichwort,
input.input_sachgebiet, 
input.input_autor, 
input.input_titel, 
input.input_sprecher, 
input.input_datum,
input.searchtitle,
input.searchdate,
.search-sachgebiet select { width: 50%;  height: 40px; color: #000; font-size: 18px;
    letter-spacing: 0.05em; padding: 8px 15px; margin: 0; background: #efdeea;
    border: 1px solid #8c8c8c; border-radius: 3px; }

.search-stichwort { padding-bottom: 20px; margin-bottom: 30px; border-bottom: 1px solid #cecece; } 

.search-sachgebiet select { width: 50%; height: 40px; color: #000; font-size: 18px; letter-spacing: 0.05em; padding: 8px 15px; margin-left: -7px; background: #efdeea; border: 1px solid #8c8c8c;
    border-radius: 3px; }    
 
input.submitbutton.search-stichwort-button,
.search-detail-button input.submitbutton, .searchrow .searchbutton { height: 40px; color: #fff; font-size: 18px; letter-spacing: 0.05em; padding: 8px 25px; margin: 0 0 0 25px; background: #771a04; border: 1px solid #8c8c8c; border-radius: 3px; }

.search-detail-button { position:absolute; bottom: 20px; left:75.5%; margin: 0 !important; padding: 0!important;}

.noticetext { font-size: 18px; line-height: 24px; padding: 20px; margin-bottom: 30px; border: 1px solid #cecece; }
.noticetext h3 { font-size: 22px; line-height: 24px; margin-bottom: 15px; margin-top: 0; }    
.noticetext a { color: #771a04; }



/* ------------------------------------------------------------------------- */
/* CUSTOMER TEMPLATES CSS--------------------------------------------------- */
/* ------------------------------------------------------------------------- */

.contact-data {margin-bottom: 10px; }

.hoerer,
.notitle {background: #771a04 none repeat scroll 0 0; color: #fff;font-size: 20px;font-weight: 400;line-height: 23px; padding: 5px 20px;}

.searchrow { border: 1px solid #cecece; padding: 10px 20px; margin: 10px 0 30px 0; }    
.searchrow h3 { font-size: 18px; line-height: 18px; margin-bottom: 10px; margin-top: 0; }    

.table-striped-data { 
    font-weight:400;
    font-size:18px;
    padding: 10px 20px; 
    margin-bottom:0px; }

.table-striped-title tr { border: 0px solid #cecece !important; }
.table-striped-title td { margin-bottom: 0; padding: 0 20px;}
.table-striped-data td,
.table-striped td.lastrow { padding: 0px 20px; margin-bottom:0px; }
.table-striped-data td:hover,
.table-striped-title td:hover  { background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out 0s; }    

.table-striped td.title-number { vertical-align: top;}
.table-striped .date { width:150px;}
.table-striped .lastrow {background: #cecece;}
.table-striped .bereitstellung { width:200px; text-align:center;}
.table-striped .bereitstellung .status { line-height: 23px; font-weight: 400; padding: 4px 0px; }
.table-striped .download-count { width:150px; text-align:center;}


.hoererdaten .row { 
    font-weight:400;
    font-size:18px;
    padding: 10px 20px; 
    border-top: 1px solid #cecece;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;}

.hoererdaten .row:last-child { border-bottom: 1px solid #cecece;}

.hoererdaten .label,
.hoererdaten .daten {display: inline-block;  }

.hoererdaten .label {width: 30%; text-align:left; }
.hoererdaten .daten {width: 65%; }
