/* ROOT ========================================================================== */

*, *:before, *:after { box-sizing: inherit; margin: 0;  padding: 0; }

html { 
  box-sizing: border-box;
  font: 100%/1.618 "Lato", sans-serif;
  font-weight: 300;
  color: #333333;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; } 

body {
    margin: 0; 
    background: #FFFFFF url(../images/bg_body.gif) repeat-x top left;
    color: #000000;
    font-family: verdana,arial, helvetica, sans-serif;
    font-size: 100.1%;
    padding: 0;
    text-align: left; }


::-moz-selection { background-color: #cd6e57; color: #fff; text-shadow: none; }
::selection { background-color: #cd6e57; color: #fff; text-shadow: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }


/* Newsletter ========================================================================== */
.button.subbutton.btn.btn-primary {background: #771a04; color:  #fff;}
.acymodifybutton .button.btn.btn-primary {background: #771a04; color:  #fff;}
.button.unsubbutton.btn.btn-inverse { background: #E0C1E0; color:  #000; } 
.acymailing_lists{background: #771a04; color:  #fff;}
.acymailing_lists label {}
.acymailing_checkbox { width: 20px; height:  20px;}
input.acymailing_checkbox { margin-top: 5px !important; }

#acymodifyform fieldset.adminform.acy_user_info,
#acymodifyform fieldset.adminform.acy_subscription_list { padding:  10px 0; }
#acymodifyform fieldset.adminform.acy_subscription_list { margin-bottom: 0;}

a.newsletter-button {background: #771a04; color:  #fff; padding:4px 10px;}

/* CUSTOM WBH ========================================================================== */

.1page-header { display: none; }

#system-message { background: #eeeeee; margin: 0 0 10px 0; padding: 10px 20px 10px 20px;}
#system-message a.close { display: none; }
#system-message h4 { margin-bottom: 10px; }

form { margin-bottom: 0; margin-top: 0; }

.aktuelle-meldung { margin: 30px 0; background: #eeeeee; font-size: 15px;}
.aktuelle-meldung h3 {padding: 10px; margin-bottom: 10px; background: #771a04; color: #fff; font-size: 16px;}
.aktuelle-meldung p { padding: 0 10px 10px 10px; margin: 0; }

.module_cblogin p {padding: 10px; margin-bottom: 0; background: #eeeeee; font-size: 16px;}
.module_cblogin .pretext p {padding: 0; margin-bottom: 10px; background: #fff; font-size: 13px;}

.module_newsletterbox p {padding-top: 20px;margin-bottom: 10px;background: #fff;font-size: 13px;}
.module_newsletterbox .module-inner { padding: 10px !important;}

#form-login-links a {padding: 3px 0 3px 10px !important;}

.unsichtbar { display: inline; height: 0; left: -3000px; position: absolute; top: -2000px; width: 0; z-index: 200; }
.bfClearfix { clear: both;}



.header { position: relative; height: 57px; }
.wrapper { position: relative; margin: 0 auto; max-width: 1024px; }
.navigation { position: relative; height: 37px; }
.slider {position: relative; height: 235px;}
#footer { position: relative; background:#ffccff; color:#000; padding:5px; text-align:right;
border-top:solid 4px #ccc; margin-bottom:15px; }

.logo { height: 53px; width: 100%; margin: 0;}

#logoandfontsize { width: 100%; height: 57px; padding-top: 4px; }
#logoandfontsize .logo { float: left; width: 155px; }
#logoandfontsize .font { float: right; }
.jfontsize-button { border: 1px solid #CCCCCC !important; cursor: pointer !important; font: bold 16px arial !important; padding: 4px !important; }

#logoandfontsize .logout-button { }
#logoandfontsize .userlogout ul li { background:#771A04; border: 1px solid #fff;}
#logoandfontsize .userlogout ul li a { color:#fff; font-size: 16px; font-weight: 600; text-transform: uppercase;
    line-height: 1.4em; padding: 4px 5px 6px 10px;}
#logoandfontsize .userlogout ul li:hover, #logoandfontsize .userlogout ul li:active, #logoandfontsize .userlogout ul li:focus { background:#c5c5c5; border: 1px solid #000;}
#logoandfontsize .userlogout ul li a:hover, #logoandfontsize .userlogout ul li a:active, #logoandfontsize .userlogout ul li a:focus { color: #000;}


#login-form { font-size: 15px; margin-bottom: 0; }
#login-form .btn.btn-primary,
.logout.btn.btn-primary { line-height: 30px; margin-bottom: 0;}

.logout .login-greeting {display:none;}
.logout .login-avatar {display:none;}

.logout .btn-primary,
.logout.btn-primary { background-color: #428bca; margin: 6px 0 0 0; float:right; width: 200px; text-align: center; color: #fff;font-weight: 400; font-size: 15px;}





/* MENÜ Top -------------------- */	

.topmenu { text-align: right; z-index: 2; }
.topmenu ul { margin: 0; padding: 0; float: right;}
.topmenu ul li { border: 1px solid #fff; padding: 0; display: inline; float:left; }
.topmenu ul li a {
    text-align: center;
    background: #771a04;
    letter-spacing: 0.05em;
    border-radius: 2px;
    font-family: "trebuchet MS",verdana,arial,sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500; 
    padding: 4px 15px; }
/* .topmenu .module-inner {padding-top: 3px;} */
.topmenu #active_menu-nav { background:#000; color:#fff; }
.topmenu ul li a:hover,#topmenu ul li a:active,#topmenu ul li a:focus { background:#561203; }    



/* SITE CONTENT -------------------- */	
.content { position: relative; padding: 0; position: relative; width: 100%; }
.content .wrapper { margin-top: 30px;}

.main {
    margin: 30px 0 0;
    padding: 0 0 20px 0;
    position: relative;
    vertical-align: top;
    z-index: 10; }

.main .leading h2, .main2 .leading h2 {
    background: #efdeea;
    font-family: "Trebuchet MS",Arial, sans-serif;
    letter-spacing: 0.03em;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin: 0 0 30px 0;
    padding: 4px 20px;
    text-transform: uppercase; }

.main .leading h4, .main2 .leading h4 {
    border: 1px solid #cecece !important;
    font-family: "Trebuchet MS",Arial, sans-serif;
    letter-spacing: 0.03em;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: -30px 0 30px 0;
    padding: 4px 20px;}




#maincontent { float: left; width: 55%; margin-top: 5px; padding:0; background: #fff; }
#maincontent_full { float: right; width: 73%; margin-top: 0;padding:0; background: #fff; }
#maincontent_inner  { padding: 0 40px 20px 40px;}

#left { float: left; width: 25%px; margin-top: 6px; }
/* #left_inner  { margin: 0px; padding: 0px 0 0 10px; margin-top: 0px;} */

#right { float: right; width: 20%; margin-top: 0; padding: 0; }

.blog { margin-top: 0; }
.login-greeting {font-size: 18px;}

#left h3, 
#right h3 { color:#000; font-size:16px; margin:0; padding: 0 5px 7px 0; font-weight: bold;}

#right_inner .module-inner, #left_inner .module-inner { margin: 0 0 20px 0; padding: 0; border: solid 1px #b9b9b9; }
#right_inner .module-inner h3, #left_inner .module-inner h3 { 
    background:#771a04; 
    border: solid 1px #771a04;
	width: 100%; 
    line-height:1.4em;
    padding: 4px 5px 6px 10px;
    color: #fff; 
    font-size: 16px; 
    font-weight: 500; }

#right_inner form { padding: 10px; }
#left_inner .module_suche .module-inner,
#left_inner .module_facebook .module-inner,
#left_inner .module_aktualisierung .module-inner { border: solid 0 #b9b9b9; }

.module_spenden  .module-inner { border: solid 0 #EFDEEA !important;}

.module_neuigkeiten p.buchtipheader { 
	background:#eeeeee; 
    border-bottom: solid 1px #b9b9b9;
    font-size:14px;
    color: #000; 
    text-align: left; 
    line-height: 14px; 
    padding: 7px 0 7px 10px;
    margin: 0; }

.module_neuigkeiten p { text-align: center; padding: 0 0 0 0;}
.module_neuigkeiten p a { background: #eaeaea url("../images/link.gif") no-repeat 0 1px; color: #000000; font-size: 12px; font-weight: bold; padding: 3px 10px 3px 15px; }
.module_neuigkeiten p img{ border: solid 1px #8c8c8c; margin: 10px 0 10px 0;}
.cb_comp_outer { font-size: 16px; }
.cb_comp_outer  label{ font-size: 14px; }
#login-form_cblogin { font-size: 12px; margin: 0 0 20px 0; line-height: 1.4em;}
#login-form_cblogin  .userdata { border: 0 solid #8C8C8C; border-radius: 0; padding: 0; margin: 0;}
#login-form_cblogin #form-login-username { padding-top: 10px;}
#login-form_cblogin .button_cblogin { background-color: #771A04;
border: 1px solid rgba(0, 0, 0, 0); color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    font-weight: 400;
    line-height: 3;
    margin-bottom: 0;
    margin-right: 0.809em;
    padding: 0 10px;
    vertical-align: middle;
    white-space: nowrap;}

#login-form_cblogin ul a{ font-size: 12px !important; margin: 0; padding: 0 0 0 15px !important; background: url(../images/link.gif) 0 1px no-repeat;}	

#cbcheckedadminForm .cbMulti { margin-bottom: 0 !important; }
#cbcheckedadminForm input, #cbcheckedadminForm textarea { margin: 3px 10px 0 0 !important; }
#cbcheckedadminForm #registrationTable .contentpaneopen { display: none; }

.module_login .pretext, .module_login .posttext { font-size: 12px; margin: 0 0 20px 0; }

.module_login .userdata { font-size: 12px; margin: 0 0 0 0; }
.module_login ul.unstyled a{ font-size: 12px !important; margin: 0; padding: 0 0 0 15px !important; background: url(../images/link.gif) 0 1px no-repeat;}
#form-login-username input { background:#feffbc; border:solid 1px #b9b9b; width: 180px; }
#form-login-password input { background:#feffbc; border:solid 1px #b9b9b; width: 180px; }
#form-login-submit .btn-primary { background-color: #771a04; color: #fff;}
.module_login .module-88 .module-inner  { }
.module_login form  { margin: 0;}
.module_login form .login-greeting { margin: 10px 0;}
.module_login form .logout-button { margin-bottom: 10px;}
.module_login form .btn-primary  { margin: 0;}

/*.cbRegistrationHeader {display: none;}*/

.moduletable_cblogin {margin-top:25px;}

.profile  ul{ background:#e4e4e4; margin: 0 0 20px 28px; padding:10px 0;}
.profile  li.btn-group { list-style-type: none; line-height: 1.5; padding-left:10px;
    margin: 0 0 10px 30px; }
.profile  li.btn-group a { background:none; font-weight: bold; padding-top:10px;}
.profile  li.btn-group a.btn { background:none; padding:0 0 0 0; margin:0; line-height: 1.5;}
.profile  li.btn-group.hint { font-size: 13px; font-weight: normal !important; }
.profile  li.btn-group.hint a { font-size: 13px; font-weight: normal !important; }

	

/* LEFT Main Menü - Ebene 1. -------------------- */	
#left ul, #right ul { list-style-type:none; margin: 0 0 20px 0; }
#left ul li, #right ul li { margin: 0; width: 100%; padding-right: 0; }
#left ul li a, #right ul li a { 
    display:block;
    font-size: 16px; 
    line-height: 16px;
    padding: 9px 0 9px 10px;
    text-decoration:none; }

#right #login-form ul li a { font-size: 12px; }
#right #login-form .userdata { margin-bottom: 10px; }

#left ul li a:hover, #left ul li a:focus,
#right ul li a:hover, #right ul li a:focus,
#left ul li.active a:hover, #right ul li.active a:hover {
	background: #561203 !important; 
    color: #fff !important; 
    font-weight:500; }

#left ul li.active a {
	border-bottom: solid 0 #E0C1E0; border-left: solid 4px #000;
	background:#e1e1e1; color: #000 !important;	font-weight:bold; }

/* LEFT Main Menü - Ebene 1.1 -------------------- */	
#left ul li ul {	background:#fff; border-left:solid 4px #93246F; margin:0; padding: 0 0 0 10px; }
#left ul li ul li a { font-size: 16px; display:block; padding:3px 4px 3px 10px; background: url(../images/link.gif) 0 1px no-repeat !important;}		
#left ul li.active ul li a:hover, #left ul li.active ul li a:focus { 
	border:solid 0 #E0C1E0; background:#fff !important; color: #000 !important;	font-weight:bold; }
#left ul li.active ul li a { background: #fff !important;font-size: 14px; border: 0;  color: #000 !important; font-weight:normal;}


/* LEFT Form -------------------- */		
#left form a:hover,#left form a:active,#left form a:focus { color:#ACACAC; }


/* LEFT MODULS -------------------- */		
.module_facebook  { font-size: 14px; margin:0 0 20px 0; }
.module_aktualisierung { font-size: 14px; margin:0 0 20px 0; }
.module_neuigkeiten  { font-size: 12px; margin: 0 0 20px 0; }




.bfLegend-m { font-size: 18px; font-weight: 600; } 
.bfSubmitButton {float: left !important; margin-left: 30px;}
#cb_cb_comp_login .componentheading { font-size: 18px; font-weight: 600; } 



/* MAINCONTENT -------------------- */		

#maincontent header h1, #maincontent_full header h1 { 
	font-size: 1.5em; line-height: 1.07867; margin: 0 0 20px 0; }

.article-body { font-size: 16px; margin: 0 0 30px 0; }	
.article-body p { line-height: 22px; margin: 0 0 10px 0;}	
.article-body a { background: url(../images/link.gif) 0 1px no-repeat; color:#771a04;padding-left: 15px; text-decoration: underline; }
.article-body h3 a { background: none; padding-left: 0;}

/* MAINCONTENT more -------------------- */			
.blog .items-more { font-size: 15px; margin: 30px 0 30px 0; }
.blog .items-more  p { line-height: 22px; margin: 0 0 10px 0;}		
.article-meta { display: none;}
.article ul { margin: 0 0 15px 30px; }	

.items-more  { background:#eeeeee;  padding: 10px; margin: 0 0 0 0;}
.items-more  ul { margin: 0 0 0 0;}
.items-more  ul li { display: block; margin: 0 0 0 0;}
.items-more  ul li a{ background: url(../images/link.gif) 0 2px no-repeat; text-decoration:none; margin: 0 0 0 0; padding-left: 20px;}
.mp3-player { text-align:center; }

.wrap { border: 0; clear: both; float: none; font-size: 1px; height: 0; line-height: 1px;
	margin: 0; padding: 0; visibility: hidden; }

p {	line-height:1.4em;	margin:5px 0; }

.article-body h6,.article-body .h6 { font-weight: bold; line-height: 1.618; margin: 10px 0; }


/* DOCMAN -------------------- */	

.com_docman form { width: 100%; }
.com_docman small { margin: 0; }
.com_docman  form .header { font-size: 1.5em; line-height: 1.07867; margin-bottom: 0.517867em; margin-top: 1.01em;}
.com_docman .row  { padding: 10px 10px 0 10px; height: 100px;	background-color: #EFDEEA; border: 1px solid #eeeeee; clear:both; margin-bottom: 10px; }
.com_docman .title  img { width: 50px; padding-right: 10px;}
.com_docman .size  { float: left; padding-left: 50px;}
.com_docman .download  { float: right; }
.com_docman .download .btn { margin: 0; padding:0;}
.com_docman .download a.btn { line-height:30px; padding:0 10px; height: 35px; background:#771A04; color: #fff}
.com_docman .docman-document h1 { font-size: 1.5em; line-height: 1.07867; margin-bottom: 0.517867em; margin-top: 1.01em;}

.com_docman .docman-document-details { float: right;
    width: 34%;
}

audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] {  display: none; }

/* Links  ========================================================================== */

a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

/* Typography  ========================================================================== */

h1 { font-size: 2em; margin: 0.67em 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 500; }
dfn { font-style: italic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
mark { background: #ff0; color: #000; }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre-wrap; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */

img { border: 0; }
svg:not(:root) { overflow: hidden; }

/* Figures ========================================================================== */

figure { margin: 0; }

/* Forms ========================================================================== */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0;}
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0;}
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer;}
button[disabled], html input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0;}
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }

/* Tables ========================================================================== */
table { border-collapse: collapse;  border-spacing: 0; }

/* HELPER CLASSES  ========================================================================== */

.clearfix:before, .media.media-content:before, .well:before, .clearfix:after, .media.media-content:after, .well:after { content: ""; display: table; }
.clearfix:after, .media.media-content:after, .well:after { clear: both; }
.visuallyhidden { overflow: hidden; position: absolute; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { position: static; clip: auto; height: auto; width: auto; margin: 0; overflow: visible; }
/* Image replacement. */
.ir {  background-color: transparent; border: 0; overflow: hidden; }
.ir:before {  content: ""; display: block; width: 0; height: 150%; }
/* Mute an object by reducing its opacity. */
.muted, figure figcaption, .article-meta { filter: alpha(opacity=70) !important; opacity: 0.7 !important; }
/* Add/remove floats */
.float-right, .img-right, .media .media-object-right { float: right; }
.float-left, .img-left, .media .media-object { float: left; }
.float-none { float: none !important; }

/* VERTICAL RHYTHM ========================================================================== */

address, article, blockquote, dl, fieldset, figure, /* form, */ hgroup, meter, ol, p, pre, progress, select, small, table, textarea, ul { margin-top: 0; margin-bottom: 1.618em; }






/* FLUID TYPE ========================================================================== */
@media only screen and (min-width: 90em) { html { font-size: 106.3%; } }

/* CODE ========================================================================== */

pre, code, kbd, samp { font-family: monospace; }
pre { background-color: #fcfcfc; border: 1px solid #eeeeee; border-radius: 3px; padding: 1em; }

/* FIGURES ========================================================================== */

figure { }
figure img { margin-bottom: 0.809em; }
figure.img-none figcaption { text-align: center; }

/* FORMS ========================================================================== */
form input, form select, form textarea {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
form ul { list-style-type: none; margin-bottom: 0; }
fieldset { border: 0 solid #8C8C8C; border-radius: 3px; padding: 1.618em 0 1.618em 1.618em; }
fieldset legend{ background: #efdeea; padding: 4px 5px 4px 10px; width: 100%; font-weight: bold;}

.profile fieldset .dl-horizontal { padding-left: 10px; }
input, textarea { display: block; margin-bottom: 0.809em; }
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
textarea { width: 100%; border: 1px solid #8C8C8C; padding: 0.4045em; border-radius: 0; background: #EFDEEA; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
textarea:focus { border: 1px solid #d4d4d4; outline: none; outline-width: 0; }

textarea { resize: vertical; }
label { display: inline-block; }
input[type="radio"], input[type="checkbox"] { display: inline-block; margin-left: 0.4045em; margin-right: 0.4045em; }
select { width: 100%; height: 2em; border: 1px solid #eeeeee; }
progress, meter { display: block; width: 100%;  height: 1.618em; }


/* SUCHE ---------------------- */

.1search_suche input[type="text"] { float: left; width: 150px; border: 1px solid #000; background: #fff; padding: 5px; margin: 1px 0 0 0; border-radius: 0; color: #000; height: 30px;}

.search_suche label { display: none;}
.search_suche #mod-search-searchword { 
    float: left; 
    width: 168px !important; 
    padding: 4px 6px 4px 10px; 
    font-size: 15px;}

.search_suche .btn-primary { 
    background-color: #771A04; 
    border: 0;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 8px 7px 8px;
    border-radius: 0;
    margin: 0 0 0 6px;
    vertical-align: top; }





/* Docman ---------------------- */

.koowa.com_docman {padding-top: 0;}

h3.koowa_header {
    background: #efdeea;
    border: 1px solid #8c8c8c;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.4em;
    padding: 4px 5px 4px 10px;
    width: 100%;
}

.koowa_header .whitespace_preserver a {
    background: #efdeea;
    border: 0 solid #8c8c8c;
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.4em;
    padding: 4px 25px 4px 10px;
    width: 100%;
}
/* SUCHE ---------------------- */


/* HEADINGS  ========================================================================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-weight: 300; text-rendering: optimizelegibility;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1; }

h1, .h1 { font-size: 3em;  line-height: 1.07867;  margin-top: 0;  margin-bottom: 0.53933em; }
h2, .h2 { font-size: 2.25em;  line-height: 1.43822;  margin-top: 0;  margin-bottom: 0.71911em; }
h3, .h3 { font-size: 1.5em;  line-height: 1.07867;  margin-top: 0;  margin-bottom: 1.07867em; }
h4, .h4 { font-size: 1.3125em;  line-height: 1.23276;  margin-top: 0;  margin-bottom: 1.23276em; }
h5, .h5 { font-size: 1.125em;  line-height: 1.43822;  margin-top: 0;  margin-bottom: 1.43822em; }
h6, .h6 { font-size: 1em;  line-height: 1.618;  margin-top: 0;  margin-bottom: 1.618em; }

/* IMAGES ========================================================================== */

img { max-width: 100%; vertical-align: middle; -ms-interpolation-mode: bicubic; }
img[width], img[height] { max-width: none; }
.img-right, .media .media-object-right { margin-left: 1.618em; }
.img-left, .media .media-object { margin-right: 1.618em; }
.img-center, .img-none img { display: block; margin-left: auto; margin-right: auto; }

/* LINKS ========================================================================== */

a { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; color: #000; text-decoration: none; }
a:hover, a:focus { color: #ba5137; }
a.to-top { bottom: 0; color: #333333; cursor: pointer; line-height: 1; padding: 0.809em; position: fixed; right: 0; }

/* LISTS ========================================================================== */

ul, ol, dl { padding: 0; }
ul { list-style-type: circle; }
li > ul, li > ol { margin-bottom: 0; padding-left: 2em; }

/* RULES ========================================================================== */
hr { border: 0; border-top: 1px solid #eeeeee; display: block; height: 1px; margin: 1.618em 0; padding: 0; }

/* TABLES ========================================================================== */

table { width: 100%; }
th, td { padding: 0.809em; text-align: left; }
.table-bordered th, .table-bordered td { border: 1px solid #eeeeee; }
.table-bordered th:empty, .table-bordered td:empty { border: none; }
.table-bordered thead tr:last-child th { border-bottom-width: 2px; }
.table-bordered tbody tr th:last-of-type { border-right-width: 2px; }
.table-striped tbody tr:nth-of-type(odd) { background-color: #fcfcfc; }

/* ==========================================================================
    TYPE SIZING
   ========================================================================== */
/*
 * Classes for super-sizing type without the semantics of h tags. Useful in
 * page banners and the like.
 *
 * Taken from Inuit.css' approach:
 * https://github.com/csswizardry/inuit.css/blob/master/base/_headings.scss
 */
.giga {
  font-size: 6em;
  line-height: 1.07867;
  margin-top: 0;
  margin-bottom: 0.26967em; }

.mega {
  font-size: 4.5em;
  line-height: 1.07867;
  margin-top: 0;
  margin-bottom: 0.35956em; }

.kilo, .logo {
  font-size: 3em;
  line-height: 1.07867;
  margin-top: 0;
  margin-bottom: 0.53933em; }

/*
 * Classes for down-sizing type without the semantics of h or small tags.
 * Useful in article footers, for example.
 */
.milli, figure figcaption, cite {
  font-size: 0.83em;
  line-height: 1.9494;
  margin-top: 0;
  margin-bottom: 1.9494em; }

.micro {
  font-size: 0.75em;
  line-height: 2.15733;
  margin-top: 0;
  margin-bottom: 2.15733em; }

/* ==========================================================================
    TYPOGRAPHY
   ========================================================================== */
/* PARAGRAPHS */
/*
 * Numbers in paragraphs should kick it Old Skool:
 * http://webtypography.net/Harmony_and_Counterpoint/Numerals__Capitals_and_Small_Caps/3.2.1/
 *
 * And, as everyone knows, all paragraphs after the first one should be indented
 * by one en(2 x em) without a boundary, or one em with. See:
 *
 * http://webtypography.net/Rhythm_and_Proportion/Blocks_and_Paragraphs/2.3.2/
 *
 * and:
 *
 * http://v1.jontangerine.com/silo/typography/p/
 */
.article p {
  font-variant-numeric: oldstyle-nums; }
  .article p + p {
    text-indent: 0; }

/* Typically used in the first paragraph of an article, for added awesome. */
.intro {
  font-size: 1.3125em;
  line-height: 1.23276;
  margin-top: 0;
  margin-bottom: 1.23276em; }

/* BLOCK QUOTES */
/* Default margin indent is zeroed out and padded to allow styling of element. */
blockquote {
  margin-left: 0;
  padding: 0.809em 2.427em; }
  blockquote:before, blockquote:after {
    content: '';
    content: none; }
  blockquote p:last-of-type {
    margin-bottom: 0; }
  blockquote > cite,
  blockquote + cite {
    margin-bottom: 0; }

/* CITATIONS */
cite {
  display: block;
  margin-top: 0.809em; }
  cite:before {
    content: "\2014";
    margin-right: 0.809em; }

/* INLINE QUOTES */
q {
  quotes: "\2018" "\2019" "\201C" "\201D"; }
  q:before {
    content: "\2018";
    content: open-quote; }
  q:after {
    content: "\2019";
    content: close-quote; }

/* ABBREVIATIONS */
/*
 * Should use small-caps and be letterspaced, obviously!
 * http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.6/
 */
abbr {
  font-variant: small-caps;
  letter-spacing: 0.1em; }

/*
 * The following are re-usable 'objects' that bring recurring CSS patterns
 * into discrete and easily maintainable modules.
 */
/* ==========================================================================
    BREADCRUMBS
   ========================================================================== */
.breadcrumb {
  font-size: 0.813em;
  margin-bottom: 0; }
  .breadcrumb > li + li:before {
    content: "\00BB" "\00A0";
    padding: 0 0.20225em; }

/* ==========================================================================
    BUTTONS
   ========================================================================== */
.btn, .banner-row .download-link, .banner-row .respository-link,
.btn-primary,
.btn-success,
.banner-row .download-link,
.btn-danger,
.btn-info,
.btn-warning {
  background-color: #fcfcfc;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 100%;
  font-weight: 400;
  line-height: 3;
  margin-right: 0.809em;
  margin-bottom: 10px;
  padding: 0 20px;
  vertical-align: middle;
  white-space: nowrap; }
  .btn:hover, .banner-row .download-link:hover, .banner-row .respository-link:hover,
  .btn-primary:hover,
  .btn-success:hover,
  .banner-row .download-link:hover,
  .btn-danger:hover,
  .btn-info:hover,
  .btn-warning:hover {
    text-decoration: none;
    background-color: #efefef; }
  .btn:active, .banner-row .download-link:active, .banner-row .respository-link:active, .btn:focus, .banner-row .download-link:focus, .banner-row .respository-link:focus,
  .btn-primary:active,
  .btn-primary:focus,
  .btn-success:active,
  .banner-row .download-link:active,
  .btn-success:focus,
  .banner-row .download-link:focus,
  .btn-danger:active,
  .btn-danger:focus,
  .btn-info:active,
  .btn-info:focus,
  .btn-warning:active,
  .btn-warning:focus {
    outline: none; }


.media {
  margin-bottom: 1.618em; }
  .media .media-content {
    overflow: hidden; }
    .media .media-content:last-child {
      margin-bottom: 0; }
  .media .media-object-right {
    margin-right: 0; }

/* ==========================================================================
    JOOMLA MODULES
   ========================================================================== */
.module {
  /* Remove default bullets on lists inside modules */ }
  .module ul {
    list-style-type: none; }

/* NAVIGATION ========================================================================== */

.nav, .breadcrumb, .pagination ul, .pagenav, .social, .actions { list-style: none; }
.nav li, .breadcrumb li, .pagination ul li, .pagenav li, .social li, .actions li { /* display: inline-block; */ }
.nav li a, .breadcrumb li a, .pagination ul li a, .pagenav li a, .social li a, .actions li a { padding: 0.020225em; }
.nav-stacked li, .nav-stacked li a { display: block; }
  



/* ==========================================================================
    PAGINATION
   ========================================================================== */
/* Blog and article pagination */
.pagination {
  text-align: center; }
  .pagination ul span {
    padding: 0.4045em; }

/* Article pagination */
.pagenav li {
  width: 50%; }
.pagenav .previous {
  margin-right: -.25em; }
.pagenav .next {
  float: right;
  text-align: right; }

/* ==========================================================================
    ROWS
   ========================================================================== */
/* Gives the content sections some breathing space */
[class*="-row"] {
  -webkit-transition: padding 0.3s ease;
  -moz-transition: padding 0.3s ease;
  -ms-transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
  padding: 0 1.618em; }
  [class*="-row"] .content {
    padding: 1.618em 0 0; }
    @media only screen and (min-width: 90em) {
      [class*="-row"] .content {
        padding: 2.427em 0 0.809em; } }

/* ==========================================================================
    WELLS
   ========================================================================== */
.well {
  display: block;
  padding: 1.618em; }

.grid-item, .logo, [role="navigation"], .footer-row .module, .social, .copyright, .above-row .module, .below-row .module {
  display: inline-block;
  margin-right: -.25em;
  width: 100%;
  vertical-align: top; }

/* ==========================================================================
    WIDTHS
   ========================================================================== */

@media only screen and (max-width: 1023px) {

    .search_suche #mod-search-searchword { width: 120px !important;}
    .content { padding: 0 15px; } 
    #maincontent { width: 70%;}
    #maincontent_inner { padding: 25px 0 20px 20px; width: 100%;}
    #left { float: left; width: 25%; }
    #right { float: right; width: 100%; margin-top: 0; padding: 0;}
    .module_spenden, .module_neuigkeiten {display:none;}
}

@media only screen and (max-width: 667px) {

    body { margin: 0; background: #FFFFFF;}
    .slider { position: relative; height: 152px;}
    #left { float: left; width: 30%; }
}

@media only screen and (max-width: 400px) {
    .slider { position: relative; height: 82px;}
    #left { float: left; width: 100%; } 
    #maincontent { width: 100%;}
    #maincontent_inner { padding: 0 10px 20px 10px; width: 100%;}
    .module_suche {display:none;}
  }
@media only screen and (min-width: 120em) {
  }

a.to-top {
  background: #cd6e57;
  color: #fff; }


blockquote {
  border-left: 4px solid #d9907e;
  font-style: italic; }

cite {
  font-style: normal; }


/* ==========================================================================
    FONT-FACE FONTS
   ========================================================================== */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/*.icon-home, .icon-pencil, .icon-connection, .icon-menu, */
.icon-google-plus, .googleplus, .icon-facebook, .facebook, .icon-twitter, .twitter, .icon-feed, .rss, .icon-dribbble, .dribbble, .icon-github, .github, .icon-paypal {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Not actually using the following right now, so commenting out. May, or may not,
 * get round to grabbing a new set of font files.

.icon-home:before {
	content: "\e004";
}
.icon-pencil:before {
	content: "\e005";
}
.icon-connection:before {
	content: "\e006";
}
.icon-menu:before {
	content: "\e007";
}
.icon-feed:before {
	content: "\e002";
}
*/
.icon-google-plus:before, .googleplus:before {
  content: "\e000"; }

.icon-facebook:before, .facebook:before {
  content: "\e008"; }

.icon-twitter:before, .twitter:before {
  content: "\e001"; }

.icon-dribbble:before, .dribbble:before {
  content: "\e009"; }

.icon-github:before, .github:before {
  content: "\e00a"; }

.icon-paypal:before {
  content: "\e00b"; }

/* Print /email icons are ugly, let's not bother! */
/*
.icon-print:before {
	content: "\e00c";
}
.icon-mail:before {
	content: "\e00d";
}
*/
/* ==========================================================================
    UI BUTTONS
   ========================================================================== */
/*
 * Let's add some template-specific style to these babies!
 */
.btn, .banner-row .download-link, .banner-row .respository-link {
  font-weight: 400; }

/* ==========================================================================
    WELLS
   ========================================================================== */
.well {
  background: #fcfcfc;
  border: 1px solid #eeeeee; }

/* ==========================================================================
    ICONS
   ========================================================================== */
/* Let's apply the icon styles semantically to elements instead
of adding icon classes in our markup. It's more awesome. */
/* Print /email icons are ugly, let's not bother! */
/*
.icon-envelope {
	@extend .icon-mail;
}
*/
/* a generic icon spacer, because putting space inside spans is junky, clunnky, oh so not funky */
/*
[class^="icon-"]:before {
	padding-right: 0.25em;
}
*/
/* ==========================================================================
    ROWS
   ========================================================================== */
/* Make some adjustments for special rows */
.header-row .content,
.breadcrumb-row .content,
.credit-row .content {
  padding: 0.118em 0; }

/* ==========================================================================
    HEADER
   ========================================================================== */
.header-row {
  text-align: center; }
  @media only screen and (min-width: 45em) {
    .header-row {
      text-align: left; } }

/* ==========================================================================
    LOGO
   ========================================================================== */
@media only screen and (min-width: 45em) {
  .logo {
    margin-bottom: 0;
    vertical-align: middle; } }

/* ==========================================================================
    HEADER NAV
   ========================================================================== */
/* MAIN NAVIGATION */
[role="navigation"] {
  font-variant: small-caps;
  font-weight: 400; }
  [role="navigation"] ul {
    margin-bottom: 0; }
    [role="navigation"] ul > li {
      margin: 0 0.20225em; }
      [role="navigation"] ul > li a {
        display: block;
        padding: 0.4045em; }
  @media only screen and (min-width: 45em) {
    [role="navigation"] {
      text-align: right;
      vertical-align: middle; } }

/* ==========================================================================
    BANNER
   ========================================================================== */
.banner-row {
  /* TODO background: url(../images/tundra.jpg) center center;*/
  background-size: cover;
  /* The download button */
  /* The GitHub button */ }
  .banner-row h1,
  .banner-row h2 {
    color: #fff; }
  .banner-row .content {
    -webkit-transition: padding 0.3s ease;
    -moz-transition: padding 0.3s ease;
    -ms-transition: padding 0.3s ease;
    -o-transition: padding 0.3s ease;
    transition: padding 0.3s ease; }
    @media only screen and (min-width: 45em) {
      .banner-row .content {
        padding: 2.427em 0 0.809em; } }
    @media only screen and (min-width: 90em) {
      .banner-row .content {
        padding: 3.236em 0 1.618em; } }

/* ==========================================================================
    FOOTER
   ========================================================================== */
.footer-row {
  background: #cd6e57;
  /* Offset the content container as we're padding the grid items */
  /* Make each module a grid item */ }
  @media only screen and (min-width: 45em) {
    .footer-row .content {
      margin-left: -3.236em; } }
  .footer-row .module {
    /* And give it a width on larger screens */ }
    @media only screen and (min-width: 45em) {
      .footer-row .module {
        margin-bottom: 0;
        padding-left: 3.236em; } }

[role="contentinfo"] blockquote {
  border: none;
  margin: 0;
  padding: 0; }
[role="contentinfo"] img {
  -webkit-box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.25);
  box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.25);
  height: 60px;
  border-radius: 100%; }
[role="contentinfo"] a {
  color: #fff; }

.credit-row {
  background: #353535;
  text-align: center;
  color: #fff; }

/* social icons */
@media only screen and (min-width: 45em) {
  .social {
    margin-bottom: 0;
    text-align: left; } }

/* social icons */
.copyright {
  font-weight: 400; }
  @media only screen and (min-width: 45em) {
    .copyright {
      text-align: right; } }

/* ==========================================================================
    ARTICLE ACTIONS
   ========================================================================== */
/* The print / mail /edit links */
.actions {
  font-size: 0.83em;
  line-height: 1.9494;
  margin-top: 0;
  margin-bottom: 1.9494em;
  margin-top: 0;
  text-align: right; }

/* ==========================================================================
    ARTICLE INFO
   ========================================================================== */
/* Article category, author, publish date, hits, etc. */
.article-meta {
  font-size: 0.83em;
  line-height: 1.9494;
  margin-top: 0;
  margin-bottom: 1.9494em; }

/* ==========================================================================
    ABOVE-ROW MODULES
   ========================================================================== */
/* Make each module a grid item */
.above-row {
  /* Offset the content container as we're padding the grid items */
  /* Make each module a grid item */ }
  @media only screen and (min-width: 45em) {
    .above-row .content {
      margin-left: -1.618em; } }
  .above-row .module {
    /* And give it a width on larger screens */ }
    @media only screen and (min-width: 45em) {
      .above-row .module {
        padding-left: 1.618em; } }

/* ==========================================================================
    BELOW-ROW MODULES
   ========================================================================== */
/* Make each module a grid item */
.below-row {
  background: #fcfcfc;
  border-top: 1px solid #eeeeee;
  /* Offset the content container as we're padding the grid items */
  /* Make each module a grid item */ }
  @media only screen and (min-width: 45em) {
    .below-row .content {
      margin-left: -1.618em; } }
  .below-row .module {
    /* And give it a width on larger screens */ }
    @media only screen and (min-width: 45em) {
      .below-row .module {
        padding-left: 1.618em; } }
