if ($request_method = OPTIONS) {
    add_header Access-Control-Allow-Origin "*";
    add_header Access-Control-Allow-Headers "*";
    add_header Access-Control-Allow-Methods "OPTIONS, GET, POST, PUT, DELETE";
    add_header Access-Control-Max-Age 600;
    add_header Content-Type "text/plain charset=UTF-8";
    add_header Content-Length 0;
}
if ($request_method ~* "(GET|POST|PUT|DELETE)") {
    add_header Access-Control-Allow-Origin "*";
}
