add_header X-Powered-By "";
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block;";
add_header X-Frame-Options DENY;
add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://www.wbh-online.de; style-src 'self' 'unsafe-inline' https://www.wbh-online.de https://fonts.googleapis.com; img-src 'self' data: https://www.wbh-online.de; font-src 'self' https://www.wbh-online.de https://fonts.gstatic.com";
#add_header X-Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self''; img-src 'self'";
#add_header X-WebKit-CSP "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self'";
