.highlight {
    border: 1px red dashed;
}

div p {
    background: lightblue;
}
div span {
    font-weight: bold;
}

.audiobookChooser {
    font-family: "Source Code Pro", monospace;
    width: 80%;
}
.audiobookChooser * {
    margin: 5px;
}

.two-column-container {
    overflow: hidden;
}

.playlistContainer {
    margin-top: 20px;
    font-family: "Source Code Pro", monospace;
    width: 40%;
    float: left;
}
.playlistContainer * {
    margin: 5px;
}
.playlistContainer .playlist {
}
.playlistContainer .playlist .loading {
}
.playlistContainer .playlist .notfound {
}
.playlistContainer .playlist .currently-playing {
    background: dimgrey;
    color: white;
}

.audioplayer {
    margin-top: 20px;
    font-family: "Source Code Pro", monospace;
    width: 40%;
    float: left;
}
.audioplayer * {
    margin: 5px;
}
.audioplayer > :hover {
}
.audioplayer .loading {
    display: none;
}
.audioplayer .notfound {
    display: none;
}
.audioplayer .panel {
    display: none;
}

.audioplayer .audiobookInfoContainer {
}
.audioplayer .audiobookInfoContainer .titel {
}
.audioplayer .audiobookInfoContainer .titelnummer {
}
.audioplayer .audiobookInfoContainer .author {
}
.audioplayer .audiobookInfoContainer .narrator {
}

.audioplayer .progressContainer {
}
.audioplayer .progressContainer .title {
}
.audioplayer .progressContainer .timeContainer {
}
.audioplayer .progressContainer .timeContainer .time {
}
.audioplayer .progressContainer .sliderContainer {
}
.audioplayer .progressContainer .sliderContainer .slider {
    width: 98%;
}
.audioplayer .progressContainer .secondsButtons {
}
.audioplayer .progressContainer .secondsButtons button {
    border: 1px black solid;
    padding: 10px;
    height: 40px; width: 80px;
    background: white;
}
.audioplayer .progressContainer .secondsButtons button:hover {
    background: black;
    color: white;
}
.audioplayer .progressContainer .progressbar {
    height: 10px;
    width: 0;
    max-width: 98%;
    background-color: black;
}

.audioplayer .controlsContainer {
}
.audioplayer .controlsContainer .trackButtons {
}
.audioplayer .controlsContainer .trackButtons button {
    border: 1px black solid;
    padding: 10px;
    height: 40px; width: 80px;
    background: white;
}
.audioplayer .controlsContainer .trackButtons button:hover {
    background: black;
    color: white;
}
.audioplayer .controlsContainer .volumeSliderContainer {
}
.audioplayer .controlsContainer .volumeSliderContainer .volumeSlider {
    width: 98%;
}
.audioplayer .controlsContainer .volumeButtons {
}
.audioplayer .controlsContainer .volumeButtons button {
    border: 1px black solid;
    padding: 10px;
    height: 40px; width: 80px;
    background: white;
}
.audioplayer .controlsContainer .volumeButtons button:hover {
    background: black;
    color: white;
}
