* { margin: 0;  padding: 0; }

body {
    background: #FFFFFF url(../images/bg_body.gif) repeat-x top left;
    color: #000000;
    font-family: verdana,arial, helvetica, sans-serif;
    font-size: 100.1%;
    padding: 0px;
    text-align: left; }


.wrapper { margin: 0 auto; max-width: 1024px; }