

* {	margin: 0;	padding: 0; }

body {
	background: #FFFFFF url(../images/bg_body.gif) repeat-x top left;
	color: #000000;
	font-family: verdana,arial, helvetica, sans-serif;
	font-size: 100.1%;
	padding: 0px;
	text-align: left; }

/* ################   Position ################  */

#all {
	background: #FFFFFF url(../images/bg_content.gif) repeat-y top left;
	color: #000000;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	margin: 0 auto;
	width: 974px;
	padding: 0px;
	text-align: left;
}

#main { z-index: 10; }
#page {	margin: 0 0 30px 0; z-index:100;}
#main #page iframe{ z-index: 1000;}
#main #page iframe form { z-index: 10000; }
 
.pagenav { margin: 20px 0 0px 10px; }
.pagenav a:link, .pagenav a:visited {
	background: none !important;
    color:#000 !important;
	padding: 0px !important;
}

#topmenu { 
	float:right;	
	position: absolute;	
	top:245px; 
	right:10px; 
	z-index:2;}

#logo {
	
	font-size: 1em !important;
	font-weight: bold !important;
	position: relative;
	text-align: left;
	z-index: 0;
	height:47px;
	margin-top: 8px;
}

#fontsize {
	float: right;
	height:18px;	
}

.templatechooser_kontrast{
	float: right;
	position: absolute;
	top:25px;
	right: 10px;
	font-size: 0.8em;
	margin-bottom: 3px;
}


.buttonkontrast { 
	padding:0;
	margin:0;
	width:60px;
	font-size:1.2em;
	border: 1px solid #333333;
	background-color: #FF9900;
	color:#000000;
 }

#logo_org img { display: block; }
#logo_org span { display: block; margin: 0px 0 0 100px !important;	border-bottom: solid 1px #666; }



#header {
    background: url(../images/header-start.jpg) no-repeat top left;
	width:974px;
	height:237px;
	margin: 0;
	position: relative;
	border-bottom: solid 0px #ccc;
}

#contentarea,
#contentarea2 {
	position: relative;
	width:974px;
	margin: 0;
	padding: 0px;}

.readspeaker { margin: 0px 0px 10px 12px; }


img.readspeaker {
	background: url(../images/listen_de_de.gif) no-repeat top left !important; }

#wrapper  { width: 724px; margin-left: 250px}
#wrapper1 { float: left; width: 524px; margin-left: 0px;  }

#left {	float: left; margin: 37px 0px 0 0; width: 240px; }

#right {float: right; width: 200px; margin: 70px 10px 0 0px; padding:0px }

#main2 {
	width:64%;
	padding: 25px 20px 20px 20px;
	position: relative;
	min-height:520px;
	float:left;
}

#main {
	margin: 40px 0px 0 0;
	padding: 35px 20px 20px 10px;
	position: relative;
	vertical-align: top;
}

.clrdm {
	clear:left;
}



/* ###################### generell ###################### */
.unsichtbar,.u2,.invisible , .unseen {
	display: inline;
	height: 0px;
	left: -3000px;
	position: absolute;
	top: -2000px;
	width: 0px;
	z-index: 200;
}

.bfClearfix {
	clear: both;
}


/* ###############  main * ########################### */
/* position */

.leading {
	border: solid 0px #CCCCCC;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 40px 0px;
	position: relative;
}

.leading_separator {
	border-bottom: solid 0px #333333;
	display: block;
	height: 10px;
	margin: 0 0 0px 0;
}

.article_separator
{
	border: solid 1px #333333;
	display: none;
	margin: 0px 0 0px 0;
}

.blog { padding: 0; }

.cols1
{
	display: block;
	float: none !important;
	margin: 0 !important;
}

.cols2 { width: 45%; }
.cols3 { width: 30%; }

.column1 , .column2
{
	border: solid 0px #D4A7C5;
	margin: 0 5px 0 0;
	position: relative;
}

.column2 , .column1
{
	float: left;
	margin: 0;
}

.column2
{
	float: right;
	margin: 0;
	width: 45%;
}

.article_row
{
	margin: 0px 0 0px 0;
	padding: 0;

}

.article_column
{
	border: solid 0px #ccc;
	padding: 10px 10px 10px 0;
}

.row_separator2
{
	display: block;
	clear: both;
	margin: 0;
	border: solid 0px;
}