spring:
  banner:
    location: classpath:/banner/banner-starwars0.txt
  main:
    banner-mode: "console"
  mail:
    host: mail
    port: 587
    username: username
    password: password
    default-encoding: UTF-8
    protocol: smtp
    test-connection: false
    properties:
      mail:
        debug: false
        smtp:
          debug: false
          auth: true
          starttls:
            enable: true

joinfaces:
  jsf:
    project-stage: production
    facelets-refresh-period: 0
    interpret-empty-string-submitted-values-as-null: true
    state-saving-method: server
    partial-state-saving: true
  mojarra:
    enable-restore-view11-compatibility: false

server:
  address: 127.0.0.1
  port: 8080
  compression:
    enabled: true
  error:
    whitelabel:
      enabled: false
    include-stacktrace: never
  servlet:
    context-path: /hoerbuchkatalog
    session:
      cookie:
        name: Hoerbuchkatalog
        comment: Hoerbuchkatalog
        domain: wbh-online.de
        path: /hoerbuchkatalog
        http-only: true
        secure: true
        max-age: 8h
      tracking-modes: COOKIE
      persistent: false
      timeout: 1h
  http2:
    enabled: false

logging:
  config: classpath:logback-production.xml
