X11Forwarding no
AllowTcpForwarding no
Subsystem sftp internal-sftp

Match User rbe
    AuthorizedKeysFile /etc/ssh/authorized_keys_rbe
    ChrootDirectory /var/bookworm
    ForceCommand internal-sftp

Match User cew
    AuthorizedKeysFile /etc/ssh/authorized_keys_cew
    ChrootDirectory /var/bookworm/templates
    ForceCommand internal-sftp

Match User wbh
    AuthorizedKeysFile /etc/ssh/authorized_keys_wbh
    ChrootDirectory /var/bookworm/wbh
    ForceCommand internal-sftp
