<included>
    <property name="ignorePackages" value="
          java.lang.reflect.Method,
          java.lang.Thread,
          java.lang.Class,
          java.util.concurrent,
          jdk.internal,
          com.sun.faces.application,
          com.sun.faces.lifecycle,
          com.sun.faces.facelets,
          javax.faces.webapp,
          javax.faces.component,
          org.apache.el,
          org.eclipse.jetty,
          org.springframework.aop,
          org.springframework.beans,
          org.springframework.context,
          org.springframework.cglib,
          org.springframework.security,
          org.springframework.transaction,
          org.springframework.scheduling,
          org.springframework.web,
          org.springframework.boot,
          sun.reflect,
          net.sf.cglib,
          BySpringCGLIB"/>
</included>
